* {
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    background: rgb(248, 184, 88);
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.flexbox {
    background: white;
    margin: 0 auto;
    width: 70%;
}

.container{
    width: 200px;
    height: 200px;
    /* border-radius: 270px; */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.center{
    width: 100%;
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    padding: 40px 10px;
}

img {
    height: 70px;
    width: 70px;
    margin: 0;
    border: 2px solid rgb(255, 115, 0);
    /* border-radius: 270px; */
}

h4 {
    margin: 0;
    overflow: hidden;

}